.flex-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-div .icon{
    width: 25px;
}

.flex-div .logo{
    width: 150px;
    margin-left: 10px;
}

.navbar-middle .search-box{
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    padding: 8px 12px;
}
.navbar-middle .search-box input{
    width: 400px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}
.navbar-middle .search-box .search-icon{
    width: 15px;
}
.navbar-right .user-profile{
    width: 35px;
    border-radius: 50%;
}
@media (max-width: 900px){
    .icon{
        display: none;
    }
    .navbar-right img{
        display: none;
    }
    .navbar-right .user-profile{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
        margin-left: 0;
    }
    .navbar-middle .search-box input{
        width: 100px;
    }
    .navbar-middle .search-box .search-icon{
        display: block;
    }
}