*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

img{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}